body{


    width: 100vw;
    height: 95vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
}

#lienzo{


    border: 1px solid white;
    box-shadow: 0px 0px 10px white;

}
h1{


    text-align: center;

}

.container{


display:  flex;

flex-direction: row;

}

.btn{ 
    
    width: 80PX;
    height: 80PX;
    border: 5PX solid rgb(38, 38, 119);
    background: rgb(59,65,98);
    background: linear-gradient(0deg, rgba(59,65,98,1) 0%, rgba(124,31,173,1) 100%);
    color: beige;
    font-weight: bold;
    margin: 20px;
    
    border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%;
}

.btn:active{

    background-color: orange;

}

.left, .Rigth{

    height: 400px;
display:  flex;
flex-direction: column;
justify-content: center;



}